.close-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #372928;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.close-button:hover {
    background-color: #c0392b;
}